

/* Navbar */

nav {
  background-color: #1e3f03;
}
nav .nav-link {
  color: white;
  text-decoration: none;

}

/* Hero */

#hero{
    background-image: url('/img/hero-bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    color:white;
}

.hero-bg-overlay{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}

.welcome-title{
    font-size: 3em;
}