/* Page settings and variables */
:root{
  scroll-behavior: smooth;
  
  
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Newsreader', serif;
  
  
  --main-color: #1F4002;
  --light-accent: rgba(192, 207, 182, 0.2);
  --mid-accent: #A8C0A3;
  --dark-accent:rgb(26, 79, 17);
  --light-text: #e0e0e0;
  
  
}

.page-button{
  display: flex;
  width:max-content;
  margin:0 auto;
  padding-inline: 150px;
  padding-block: 20px;
  background-color: var(--main-color);
}

/* To capitalize words */
.ucwords { text-transform: capitalize; }


/* Global form settings */

.input-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control, .form-select{
  width:90%;
}

form {
  display: table;
  margin:0 auto;
}

.form p{
  display: table-row;
  align-items: center;
}

.form p label{
  display: table-cell;
  padding: 10px 0;
  padding-right: 25px;
  text-align: center;

}

.form p input{
  display: table-cell;
  margin: 10px 0;
  min-width: fit-content;
  border: 1px solid var(--mid-accent);
}

.form p span{
  display: table-cell;
  left:0;
  width:10px;
  text-align: left;

}

.form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 2;
  margin-top:20px;
}

.form-inner{
  width: 70%;
  margin: 0 auto;
}


/* Navbar */

nav {
  background-color: var(--main-color);
  max-width: 100%;
  margin: 0 auto;
}
.navbar-nav{
    gap:10px;
}
nav .nav-link {
  color: white;
  text-decoration: none;

  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight:100; 
  border-radius: 10px;
  transition: .4s linear;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(224, 224, 224, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

nav .nav-link:hover{
    background-color: white;
    color:#1e3f03;
    border-radius: 10px;
}

.navbar-toggler-icon{
    color:white;
}
.navbar-toggler:focus {
    border: 2px solid var(--mid-accent) !important; /* Set your desired outline color */
}

.navbar-brand{
    color:white;
}

.navbar-brand:hover{
    color:white;
}



/* Hero */

#hero {
  
  min-height: 100vh !important;
  color: rgb(25, 25, 25);
}

.hero-bg-overlay {
  background-image: url("../img/jonathan-kemper-1HHrdIoLFpU-unsplash\ 1.png") !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 100vh;
  min-width: fit-content;
}

#hero-card {
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.421);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 50px;
}

.welcome-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: var(--light-text);
  padding-bottom: 50px;
  
}

#hero-card p {
  margin: 0 25px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--light-text);
  font-family: Newsreader, serif;
  font-weight: 300;
  padding-bottom: 75px;
}



/* About Yourself section */

#about-you-title{
  color:var(--main-color);
  text-align: center;
}

#about-yourself{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:70vh;
  margin: 0 auto;
  background-color: var(--light-accent);
}

#about-you-title{
  padding-bottom: 20px;
  font-size: 4rem;
}



/* Meal form */

#meal-section-title{
  padding-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}

#dyn-name{
  color: var(--dark-accent);
  font-weight: 400;
  font-family: Be Vietnam Pro, sans-serif;;
}


#meal-plan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:70vh;
  background-color: var(--mid-accent);
}
.form-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#meal-form p input{
  border: 1px solid var(--main-color);
  margin-right: 20px;
}




/* Footer */

#footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

